build_steps: &build_steps
  working_directory: ~/repo
  steps:
    - checkout
    - run: bundle install
    - run: bundle exec rake

version: 2
jobs:
  test_ruby-2.3:
    <<: *build_steps
    docker:
      - image: circleci/ruby:2.3
  test_ruby-2.4:
    <<: *build_steps
    docker:
      - image: circleci/ruby:2.4
  test_ruby-2.5:
    <<: *build_steps
    docker:
      - image: circleci/ruby:2.5
  release:
    docker:
      - image: circleci/ruby:2.5
    steps:
      - checkout
      - run:
          name: Configure rubygems
          command: |
            mkdir ~/.gem
            cat .circleci/gem_credentials | sed -e "s/__RUBYGEMS_API_KEY__/${RUBYGEMS_API_KEY}/" > ~/.gem/credentials
            chmod 0600 ~/.gem/credentials
      - run: bundle config gem.push_key rubygems_api_key
      - run: bundle install
      - run: bundle exec rake release
      - run: shred -u ~/.gem/credentials

workflows:
  version: 2
  test_and_release:
    jobs:
      - test_ruby-2.3:
          filters:
            tags:
              only: /.*/
      - test_ruby-2.4:
          filters:
            tags:
              only: /.*/
      - test_ruby-2.5:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - test_ruby-2.3
            - test_ruby-2.4
            - test_ruby-2.5
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
